<% include header %>
<script language="javascript">
  function RegisterCode()
  {
      form.submit(); 
  }

  $(document).ready(function(){
      $.ajax({
            type: "GET",
            cache: false,
            async: false,
            url: '/metar/metar_code_list',
            dataType: 'json',
            contentType: 'application/json',
            success: function(response) {
                info = [];
                $("#codeTable").find("tr:gt(0)").remove();
                response.forEach(function(cur, index) {
                    info.push(cur);
                });
                console.log(info);

                $('#codeTable').dataTable({
                    "bAuthWith" : true,
                    "order": [[0, "asc"]],
                    "aaData": info,
                    "aoColumns":[
                        { "mData": "_id", "title":"_id", "bSortable": false},
				        { "mData": "구분", "title": "구분",   "bSortable": true},
				        { "mData": "지역", "title": "지역", "bSortable": true},
                        { "mData": "구역명", "title": "구역명", "bSortable": true},
                        { "mData": "구역코드", "title": "구역코드", "bSortable": true}
                    ],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": false,
                            "searchable": true
                        }
                    ]
                })

            },
            error: function(request, status, error) {
                alert("code: " + request.status + "\n" + "message: " + request.responseText+"\n"+"error:"+error );
            }
      }).done(function (msg){
          console.log(msg);
      });
  });
</script>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Code Management</a>
            </li>
            <li class="breadcrumb-item active">예보구역목록</li>
          </ol>

          <!-- Icon Cards-->
          <div class="row">
            <div class="col-xl-12 col-sm-12 mb-3">
              <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-comments"></i>
                  </div>
                  <div class="mr-5">예보구역목록 올리기
                        <span class="float-right">
                            <i class="fas fa-angle-right"></i>
                        </span>
                  </div>
                </div>
                <form name=form method='post' enctype='multipart/form-data' action='/metar/upload'>
                <div class="card-body">
                    <span class="float-left"><input type=file id=ufile name=ufile class='small'></span>
                    <a class="float-right card-footer text-white clearfix small z-1" href="javascript:RegisterCode();">                  
                        [파일 올리기]
                    </a>
                 </div>
                </form>
              </div>
            </div>
          </div>



          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Data Table (예보구역코드)</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="codeTable" width="100%" cellspacing="0">
                  <!-- thead>
                    <tr>
                      <th>구분</th>
                      <th>지역</th>
                      <th>구역명</th>
                      <th>구역코드</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>구분</th>
                      <th>지역</th>
                      <th>구역명</th>
                      <th>구역코드</th>
                    </tr>
                  </tfoot  -->
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>

        </div>
        <!-- /.container-fluid -->

<% include footer %>
